body{
	margin: 0;
}

/*header seaction start*/
header{
	background-color: #0AB7E8;
	padding: 20px 0;
	display: flex;
	justify-content: center;
}
.header-container{
	width: 90%;
	display: flex;
	flex-wrap: wrap;
}
.logo{
	width: 50%;
}
.logo img{
	width: 100px;
	margin-top: 15px;
}
.menu{
	width: 50%;
	    text-align: center;
}
.menu h2{
	color: white;
}
.menu a{
	text-decoration: none;
	color: white;
	padding: 10px 15px;
	background-color: #FF7062;
	border-radius: 3px;
	text-transform: capitalize;
}
/*header seaction end*/

/*about section start*/
.about-section{
	background-color: #D8E7EC;
	display: flex;
	justify-content: center;
}
.container{
	justify-content: center;
	width: 73%;
	display: flex;
	flex-wrap: wrap;
	border-left: 1px solid #D6D6CC;
	border-right: 1px solid #D6D6CC;
}
.about-img{
	width: 50%;
}
.about-img div{
	padding: 50px;
}
img{
	width: 100%;
}
.about-text{
	width: 50%;
	text-align: center;
}
.about-text div{
	padding-right: 50px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.about-text h1{
	color: #2C2B2B;
	font-size: 45px;
	margin: 0;
}
.about-text h2{
	color: #2C2B2B;
	font-size: 30px;
	margin: 0;
}
/*about section end*/


/*banner section start*/
.banner-section{
	background-color: #D8E7EC;
	display: flex;
	justify-content: center;
}
.banner-section .container{
	gap: 1%;
}
.banner-heading{
	width: 70%;
	text-align: center;
}
.banner-heading h3{
	color: #2C2B2B;
	font-size: 35px;
}
.img-1{
	padding-bottom: 5px;
	width: 42%;
}
.img-1 img{
	height: 100%;
}
.img-2{
	margin-bottom: 10px;
	padding-bottom: -1px;
	background-color: #0AB7E8;
	width: 42%;
	text-align: center;
}
.img-3{
	width: 42%;
}
.img-4{
	width: 42%;
}
h2{
	font-size: 30px;
	color: white;
}
p{
	font-size: 18px;
	color: white;
}
/*banner section end*/


/*single banner start*/
.single-banner{
	background-color: #D8E7EC;
	display: flex;
	justify-content: center;
}
.single-banner .container{
	padding-top: 50px;
	background-color: #0AB7E8;
}
.col_1_2{
	width: 45%;
	text-align: center;
}
.text-part{
	justify-content: center;
	padding: 20px;
}
.single-header{
	text-align: center;
	width: 100%;
}


.second-banner{
	background-color: #D8E7EC;
	display: flex;
	justify-content: center;
}
.second-container{
	gap: 20%;
	justify-content: center;
	width: 73%;
	display: flex;
	flex-wrap: wrap;
	border-left: 1px solid #D6D6CC;
	border-right: 1px solid #D6D6CC;
	background-color: #0AB7E8;
	padding-bottom: 50px;
}
.col_1_3{
	width: 15%;
}

